.carousel-caption h3{
    margin: 0;
    color: #000;
    padding-top: 50px;
    font-size: 33px;
    font-weight: 600;
  
}
.carousel-caption p{
    margin: 30px 0 30px 0;     
    color: #000;
  
}
.item{
    background: #dfdfdf;    
    text-align: right;
    height: 430px !important;
}
.carousel-caption{
	text-align: left !important;
	top:50px;
	left:15%;
	right:15%;
	text-shadow:0 1px 2px rgba(0, 0, 0, .6) !important;
}


.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);

    background-repeat: repeat-x;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);

    background-repeat: repeat-x;
}

.carousel-indicators li{
	border:2px solid #848484 !important;
	    width: 20px;
    height: 20px;
}
.carousel-indicators li.active{
background-color: #8d0a24 !important;
    width: 20px;
    height: 20px;
	border:0px solid #8d0a24 !important;
	border:0px solid #8d0a24 !important;
}


.carousel-caption{
	text-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
}
.glyphicon-chevron-left:before {
    content: "";
}
.glyphicon-chevron-right:before {
    content: "";
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 22px;
    height: 37px;
    margin-top: -15px;
    font-size: 30px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
	    margin-left: 40px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
	    margin-right: 40px;
}

.text-slide{
	width:340px;
}