.fix {
	
	min-width:1170px;
	
}

.stuctura_titl{
    width: 100%;
    line-height: 40px;
	 z-index: 1;
}
.stuctura_titl p{
    margin: 0;
    font-size: 11px;
    margin-top: -22px;
}
.rs-1 {
    display: block;
    height: 25px;

	margin-top:10px;
}

.rs-0 {
    display: block;
    width: 1px;

    position: absolute;
    z-index: 0;
    bottom: 232px;
    top: 145px;
	left: 585px;
    right: 585px;
}